.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form_control input {
  height: 40px;
  padding: 0 8px;
  font-size: 12px;
}

.form_control label {
  font-size: 14px;
  position: absolute;
  font-family: "Alegreya", sans-serif;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}

.form_control .input_password_container {
  height: 20px;
  padding: 0;
}
.form_control .input_password_container input {
  height: 30px;
  width: 100%;
  padding: 0 8px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contact_form form {
  display: flex;
  gap: 15px;
  padding-bottom: 2px;
  flex-direction: column;
}

.center_paper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid_content {
  padding: 2rem;
}

.Arranging {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 10px;
}

.Head {
  font-family: cursive, sans-serif;
}

.Image {
  display: flex;
  flex-direction: column;
  text-align: center;
}

::-webkit-input-placeholder {
  font-size: 12px;
}

.Register {
  font-size: 14px;
  text-align: center;
}

.Close {
  float: right;
  margin-right: 0;
}


.Close:hover {
  -webkit-transform: rotate(270deg) skewY(2deg);
  -moz-transform: rotate(270deg) skewY(2deg);
  -ms-transform: rotate(270deg) skewY(2deg);
}


.form_control .Icon {
  position: relative;
  top: -25px;
  left: 190px;
  opacity: 0.5;
}

@media (max-width: 1324px) {
  .form_control .Icon {
    position: relative;
    top: -25px;
    left: 160px;
    opacity: 0.5;
  }
  
}

@media(max-width:1040px){
  .form_control input {
    height: 30px;
    padding: 0 8px;
}
.loginlink{
  font-size: 14px;
  text-align: center;
  padding: 0 4em;
}
.loginlink a, .loginlink Link {
  display: block;
  width: 100%;
}
}

@media(max-width:720px){
  .form_control input {
    height: 30px;
    padding: 0 2px;
}
.form_control_check {
  display: flex;
  gap: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  align-items: center;
  padding: 0 3px;
}
.Register {
  font-size: 12px;
  text-align: center;
}
.Close {
  float: right;
  margin-right: 0;
}
.Icon {
  position: relative;
  top: -500px;
  right: 10px;
  opacity: 0.5;
}
}

@media(max-width:600px){
  .form_control input {
    height: 30px;
    padding: 0 2px;
}
.form_control_check {
  display: flex;
  gap: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  align-items: center;
  padding: 0 3px;
}
.Register {
  font-size: 12px;
  text-align: center;
}
.Close {
  float: right;
  margin-right: 0;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.Arranging {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
}
.Image img{
  display: block;
width: 5rem;
}
.form_control .input_password_container {
  height: 20px;
  padding: 0;
}
.form_control .input_password_container input {
  height: 30px;
  width: 100%;
  padding: 0 8px;
}
.form_control .Icon {
  position: relative;
  top: -25px;
  left: 250px;
  opacity: 0.5;
}
}