.Header {
    font-family: 'Alegreya', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--darkblue-color);
}

.SubHeader {
    font-family: 'Alegreya', sans-serif;
    color: var(--SomeBlue);
}

.Body {
    font-family: 'Alegreya', sans-serif;
    font-size: 16px;
    text-align: justify;
}

.PS {
    font-family: 'Alegreya', sans-serif;
    font-size: 12px;
}