.container {
    margin: 0 75px;
}

.container h1 {
    color: var(--darkblue-color);
    font-family: 'Times New Roman', Times, serif;
}

.container h3 {
    color: var(--darkblue-color);
    font-family: 'Times New Roman', Times, serif;
}

.container h5 {
    color: var(--darkblue-color);
    font-family: 'Times New Roman', Times, serif;
}
.container h4 {
    color: var(--darkblue-color);
    font-family: 'Times New Roman', Times, serif;
}

.container h1 {
    color: var(--darkblue-color);
    font-family: 'Times New Roman', Times, serif;
}